@charset "utf-8";
/* CSS Document */


body {
	background-image: url("../img/assets/whole_bg_long.png");
  font-size: 18px;
  color: white;
  font-family: highgate;

  background-size: 100vw auto;
  background-position: center;
}


/*BANNER*/

#banner {
	background: #433d66;

  width: 100vw;
  height: 10vh;

  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}


#logo_div {


  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 100%;
  margin: auto;
}

#logo_div
  figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    height: 100%;
    margin: auto;
  }

.hitfall_logo {
  height: 7.5vh;
  max-width: 30vw;
  transition: all 0.3s;
}

.hitfall_logo:hover {
  transform: scale(1.1);
}

#logo_div
  figcaption {
    max-height: 9vh;
    padding-left: 1.25vw;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
  }





/*MAIN CONTENT*/

#content {
  text-align: center;
}

#content
  h1 {
/*    padding-top: 10vh;*/
  }

#content


.game_logo {
  max-width: 30vw;

  padding-top: 2vmax;
  padding-left: 3vmax;
  padding-right: 3vmax;
  padding-bottom: 2vmax;

  filter: drop-shadow(0em 0em 0.5em #433d66);
}



#directory {
  position: relative;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

#directory_text {
/*  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 65%;
  margin: auto;*/
}



a {
	color: #18F4C3;
}

a:link, a:visited {
	color: #18F4C3;
}

a:hover {
	color: #18F4C3;
}

a:focus, a:active {
	color: #18F4C3;
}



/*----------------------------pixel breakpoint----------------------------*/

@media screen and (max-width: 125vh) {

#logo_div {
  width: 75%;
}

#logo_div
  figure {
    width: 75%;
  }

.hitfall_logo {
  height: 7.25vh;
}

#logo_div
  figcaption {
    font-size: 2vh;
    padding-left: 2vw;
  }


#content {
  padding-bottom: 10vh;
}

#content
  h1 {
    font-size: 2.25em;
  }


.game_logo {
  min-width: 60vw;
}

#directory_text {
  font-size: 1.2em;
}



}

